{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}
<h3 class="my-4 border-bottom pb-1"><span>Search Result for</span>{{request.GET.q}}</h3>
  {% for l in laptops %}
    <a href="{% url 'product-detail' l.id %}" class="btn">
    <div class="item"><img src="{{l.product_image.url}}" alt="" height="200px">
    <span class="fw-bold">{{l.pro_name}}</span><br>
    <span class="fs-5">{{l.discounted_price}}</span></div></a>
  {% endfor %}
</div>
{% endblock main-content %}











































